@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
}

/* HEADER --------------------------------------------------------------------------------->*/

header {
  display: block;
}

.banner {
  width: 100%;
  height: 25px;
  background-color: #b3e6f2;
  opacity: 0.7;
  font-size: 13px;
  text-align: center;
}

.banner-text {
  padding: 5px;
  font-weight: 400;
}

.top-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 10px;
}

.search-icon {
  max-width: 25px;
}

.cart-icon {
  max-width: 32px;
}

.silfen-play {
  display: flex;
  gap: 10px;
}

.text-arrow-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 10px;
}

.silfen-play-logo {
  max-width: 25px;
}

.explore-silfen-play {
  font-size: 8px;
  text-transform: uppercase;
}

.arrow {
  max-width: 25px;
  animation-name: arrow-move;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes arrow-move {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(3px);
  }

  100% {
    transform: translateX(0);
  }
}

.logo-img {
  max-width: 180px;
  padding-top: 5px;
}

.top-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.nav-list {
  display: flex;
  justify-content: center;
}

.nav-link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  padding: 10px;
  color: black;
}

.nav-link:hover,
.dropdown:hover .dropbtn,
.dropdown2:hover .dropbtn2 {
  text-decoration: underline;
}

.dropdown {
  overflow: hidden;
}

.dropdown2 {
  overflow: hidden;
}

.dropdown .dropbtn {
  border: none;
  outline: none;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  padding: 10px;
  color: black;
  font-family: inherit;
  margin: 0;
  background: none;
  cursor: pointer;
}

.dropdown2 .dropbtn2 {
  border: none;
  outline: none;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  padding: 10px;
  color: black;
  font-family: inherit;
  margin: 0;
  background: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  width: 100%;
  left: 0;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  font-size: 12px;
  font-family: inherit;
}

.dropdown-content2 {
  display: none;
  position: absolute;
  background-color: white;
  width: 100%;
  left: 0;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown2:hover .dropdown-content2 {
  display: block;
}

.menu-row {
  display: flex;
  justify-content: center;
  gap: 5%;
}

.menu-row2 {
  display: flex;
  justify-content: center;
}

.support-links {
  padding: 30px;
}

.support-links a {
  color: black;
  padding: 4px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: 12px;
}

.support-links a:hover {
  text-decoration: underline;
}

.shop-by {
  padding: 30px;
}

.shop-by a {
  color: black;
  padding: 4px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.shop-by a:hover {
  text-decoration: underline;
}

.shop-by h3 {
  color: black;
  padding: 4px;
  margin-bottom: 10px;
  text-decoration: none;
  display: block;
  text-align: left;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
}

/* FRONT PAGE-------------------------------------------------------*/

.introduction {
  width: 100%;
  height: 80vh;
  overflow: hidden;
  position: relative;
}

.top-images {
  display: flex;
  justify-content: center;
  gap: 3vw;
  padding-top: 60px;
}

.left-image {
  background-image: url(../img/blue-bag-air.png);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 30vw;
  height: 30vw;
  animation-name: left-in;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes left-in {
  0% {
    transform: translateX(-50vw);
  }

  100% {
    transform: translateX(0);
  }
}

.right-image {
  background-image: url(../img/silfen-brown-bag.png);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 42vw;
  height: 42vw;
  animation-name: right-in;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes right-in {
  0% {
    transform: translateX(55vw);
  }

  100% {
    transform: translateX(0);
  }
}

.top-line {
  position: absolute;
  font-family: degular-display, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 8rem;
  z-index: 1;
  top: 6vw;
  left: 4vw;
  animation-name: top-in;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes top-in {
  0% {
    transform: translateY(50vw);
  }
  100% {
    transform: translateY(0);
  }
}

.top-line2 {
  position: absolute;
  position: absolute;
  font-family: degular-display, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 8rem;
  z-index: 1;
  top: 15vw;
  left: 4vw;
  animation-name: top-in2;
  animation-duration: 3.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes top-in2 {
  0% {
    transform: translateY(60vw);
  }
  100% {
    transform: translateY(0);
  }
}

.top-line3 {
  position: absolute;
  position: absolute;
  font-family: degular-display, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 8rem;
  z-index: 1;
  top: 24vw;
  left: 4vw;
  animation-name: top-in3;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes top-in3 {
  0% {
    transform: translateY(70vw);
  }
  100% {
    transform: translateY(0);
  }
}

.bestsellers {
  width: 100%;
  background-color: #bed8c0;
  height: 90vh;
}

.best-wrapper {
  margin-left: 10vw;
  margin-right: 10vw;
  max-width: 100%;
  display: block;
  justify-content: center;
  text-align: center;
  padding-top: 2vw;
}

.link-to-best {
  text-decoration: none;
  color: black;
  text-align: center;
}

.best-wrapper a {
  font-family: degular-display, sans-serif;
  font-weight: 500;
  font-style: normal;
  text-transform: uppercase;
  font-size: 2.2rem;
  text-decoration: none;
  color: black;
}

.bestsellers h2 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.1rem;
  font-family: degular-display, sans-serif;
  font-style: normal;
  padding: 5px;
  padding-top: 10px;
}

.bestsellers p {
  font-size: 0.9rem;
}

.bestsellers img {
  max-width: 250px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.bestsellers img:hover {
  transform: scale(1.05);
}

.bags-wrapper-best {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(auto, 250px));
  gap: 30px;
  max-width: 100%;
  justify-content: center;
  padding-top: 2vw;
}

.collections {
  display: flex;
  justify-content: center;
  padding-bottom: 60px;
  padding: 30px;
}

.manifesto {
  display: flex;
  justify-content: center;
}

.instagram {
  display: flex;
  justify-content: center;
  background: #b3e6f2;
}

.collections img {
  max-width: 70%;
}

.manifesto img {
  max-width: 70%;
}

.instagram img {
  max-width: 70%;
  padding: 30px;
}

/* FOOTER STYLING ------------------------------------------------*/

.newsletter {
  height: 50vh;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 90px;
}

.newsletter-items {
  width: 500px;
  text-align: center;
}

.newsletter img {
  max-width: 200px;
  padding-bottom: 10px;
}
.newsletter p {
  padding-bottom: 15px;
}

.newsletter a {
  text-decoration: underline;
  color: black;
  font-family: degular-display, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 2.5rem;
}

.newsletter a:hover {
  color: #d8d6f2;
}

.footer-section {
  height: 50vh;
  width: 100%;
  background: #e2e0dc;
  display: flex;
  justify-content: space-between;
  padding: 5vw;
  padding-top: 5vw;
}

.cards {
  max-width: 300px;
  padding-top: 20px;
}

.bottom-logo {
  transform: translateX(-1vw);
}

.footer-nav {
  display: flex;
  width: 40vw;
  gap: 80px;
}

.footer-info p {
  padding-bottom: 10px;
}

.nav-wrapper {
  display: flex;
  flex-direction: column;
}

.nav-wrapper h4 {
  color: gray;
  padding-bottom: 20px;
}

.nav-wrapper a {
  text-decoration: none;
  color: black;
  padding-bottom: 10px;
}

.nav-wrapper a:hover {
  color: gray;
}

/* MEADIA QUERIES --------------------------*/
@media (max-width: 1000px) {
  .collections img {
    max-width: 100%;
  }

  .footer-nav {
    width: 100%;
    gap: 40px;
    padding-top: 20px;
  }

  .manifesto img {
    max-width: 100%;
  }

  .instagram img {
    max-width: 100%;
  }

  .bags-wrapper-best {
    grid-template-columns: repeat(auto-fill, minmax(auto, 300px));
    gap: 10px;
    width: 100%;
    justify-content: center;
  }
  .bestsellers img {
    max-width: 300px;
  }
  .bestsellers {
    height: 345vh;
  }
  .bestsellers a {
    padding-top: 5vw;
    padding-bottom: 5vw;
  }
  .top-images {
    flex-direction: column;
    gap: 0;
  }

  .introduction {
    height: 90vh;
  }

  .left-image {
    width: 300px;
    height: 300px;
  }

  .right-image {
    width: 300px;
    height: 300px;
  }

  .top-line {
    font-size: 5.5rem;
    top: 20vw;
    left: 20vw;
  }
  .top-line2 {
    font-size: 5.5rem;
    top: 40vw;
    left: 53vw;
  }
  .top-line3 {
    font-size: 5.5rem;
    top: 60vw;
    left: 33vw;
  }

  .footer-section {
    flex-direction: column-reverse;
    height: 80vh;
  }
}
