@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

main {
  margin-left: 5vw;
  margin-right: 5vw;
  max-width: 100%;
}

.bag-headline {
  padding-top: 50px;
  text-transform: uppercase;
  font-size: 2.5rem;
  font-family: degular-display, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

/* FILTER BUTTONS ------------------------------*/

.filter-buttons-containter {
  display: flex;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 40px;
}

/* category filter*/
.filter-dropbtn-category {
  background-color: transparent;
  border: none;
  color: black;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  font-family: var(--text-font);
  font-weight: normal;
  font-style: normal;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 160px;
}

.down-arrow {
  width: 30px;
  padding: 3px;
}

.filter-dropbtn-category:hover,
.filter-dropbtn-category:focus {
  color: #b3e6f2;
}

.filter-dropdown-category {
  position: relative;
  display: inline-block;
}

.dropdown-content-category {
  display: none;
  position: absolute;
  background-color: whitesmoke;
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content-category a {
  color: gray;
  padding: 10px;
  display: block;
  text-decoration: none;
  font-weight: 300;
}

.dropdown-content-category a:hover {
  background-color: #b3e6f2;
}

.show {
  display: block;
}

/* colors filter*/
.filter-dropbtn-colors {
  background-color: transparent;
  border: none;
  color: black;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  font-family: var(--text-font);
  font-weight: normal;
  font-style: normal;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 160px;
}

.filter-dropbtn-colors:hover,
.filter-dropbtn-colors:focus {
  color: #b3e6f2;
}

.filter-dropdown-colors {
  position: relative;
  display: inline-block;
}

.dropdown-content-colors {
  display: none;
  position: absolute;
  background-color: whitesmoke;
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content-colors a {
  color: gray;
  padding: 10px;
  display: block;
  text-decoration: none;
  font-weight: 300;
}

.dropdown-content-colors a:hover {
  background-color: #b3e6f2;
}

/* filter price*/
.filter-dropbtn-price {
  background-color: transparent;
  border: none;
  color: black;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  font-family: var(--text-font);
  font-weight: normal;
  font-style: normal;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 160px;
}

.filter-dropbtn-price:hover,
.filter-dropbtn-price:focus {
  color: #b3e6f2;
}

.filter-dropdown-price {
  position: relative;
  display: inline-block;
}

.dropdown-content-price {
  display: none;
  position: absolute;
  background-color: whitesmoke;
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content-price a {
  color: gray;
  padding: 10px;
  display: block;
  text-decoration: none;
  font-weight: 300;
}

.dropdown-content-price a:hover {
  background-color: #b3e6f2;
}

.show {
  display: block;
}

/*ALL BAGS GRID -----------------------*/

.template-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(auto, 300px));
  gap: 35px;
  justify-content: center;
  max-width: 100%;
}

.image-container {
  position: relative;
}

.sale {
  background: black;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 20px;
  color: white;
  text-transform: uppercase;
  padding: 10px;
}

.hidden {
  display: none;
}

.line-through {
  text-decoration: line-through;
}

.image-container img {
  max-width: 300px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.link-to-product {
  text-decoration: none;
  color: black;
  text-align: center;
  padding-bottom: 25px;
}

.bag-name {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.1rem;
  font-family: degular-display, sans-serif;
  font-style: normal;
  padding: 5px;
  padding-top: 10px;
}

.bag-price {
  font-size: 0.9rem;
}
